#navegacao {
    text-align: center;
    margin-top: 20px;
}

#navegacao nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#navegacao nav a {
    color: #0000008c;
    border-bottom: 2px solid #00cad1;
}

#navegacao nav a:hover {
    -webkit-text-stroke: 1px black;
}

.especialidades-texto {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box-tabela-especialista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    padding: 0 10px;
}

.box-tabela-especialista img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.tabela-especialistas {
    border-spacing: 0;
    text-align: center;
    width: 70%;
    height: 100%;
}

.tabela-especialistas thead tr {
    background-color: #00cad1;
    color: white;
    text-align: center;
}

.tabela-especialistas tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
    text-align: center;
}

.tabela-especialistas tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

.tabela-especialistas th,
.tabela-especialistas td {
    padding: 10px;
}

section:last-of-type{
    margin-bottom: 50px;
}

@media only Screen and (max-width: 600px) {

    .box-tabela-especialista img {
        display: none;
    }

    .tabela-especialistas {
        width: 100%;

    }

    .max-width-conteudo {
        max-width: 600px;
        margin: 0 0;
        padding: 0 5px;
    }

    .box-tabela-especialista {
        height: auto;
    }

}